<h1>Hello <%= @user.username %>!</h1>

<p>
  Thanks for your collaboration, the concert of <%= @concert.band %> was created successfully.
</p>

<p>
  If you want to check the concert or share it, you can use the following <a href="https://uesteibar-concert.herokuapp.com/concerts/<%= @concert.id %>">LINK</a>
</p>

<p>
  See you soon!
</p>
