<% if model.errors.any? %>
<p>

  <%= pluralize(model.errors.count, "error") %>
  <%= "prohibited this #{model.class.name} from being saved:" %>
</p>
  <% model.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>

  <% end %>
<% end %>
